.body
{
    color: white;
    text-align: center;

}
/* .container-fluid
{
    background-image: url("maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 2%;
    width: auto;
    height: 100%;
} */


img
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

    .grille
    {
        text-align: center;
    }

#titre
{
    text-align: center;
    color: white;
}

.Reglement
{
    color: white;
    text-align: center;
}

.square
{
    border: 1px solid white;
}

h3
{
    color: white;
}

.score
{
    width: 100%;
    margin: 15px;
    padding: 15px;
    background-color: thistle;
    border-radius: 20px;
}

.time
{
    margin: 15px;
    padding: 15px;
    background-color: thistle;
    border-radius: 20px;
}


.center
{
    font-family: Sen;
    text-align: center;
    margin-top: 2%;
    font-size: 35px;
}

.undo
{
    text-align: center;
}

